# ❌ ignore semua
*

# ✅ izinkan folder yang kita mau
!hypr/
!quickshell/
!README.md

# ✅ izinkan semua isi di dalamnya
!hypr/**
!quickshell/**
!README.md

# ✅ jangan ignore .gitignore sendiri
!.gitignore
